@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Sans-serif;
  word-spacing: -2px;
}

body {
  padding: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem 0 2rem 0;

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
}

.header__texts {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  h1 {
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    line-height: 2rem;
  }

  .header__subtitle {
    color: #778da9;
  }
}

.header__index {
  ul {
    list-style: none;
  }

  a {
    color: #274c77;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.topic-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem 1rem;
  background-color: rgb(237, 238, 234);
  border-radius: 10px;

  .back {
    display: flex;
    column-gap: 0.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: #778da9;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    text-transform: uppercase;
  }

  code {
    background-color: #e0e1dd;
    color: #274c77;
    font-family: "Courier New", Courier, monospace;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.95em;
    font-weight: 600;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    padding: 1rem 0;
    list-style: none;
  }
}

@media screen and (min-width: 1000px) {
  .header__texts {
    justify-content: space-between;
  }
}
